.deneme{
    background-color: white;
    /*background-image: url("/public/cool-background.png");*/
    
 /* background-position: center;
  background-repeat: no-repeat;*/
  /*background-size: cover;*/
}
.sidemenu{
    opacity: 0.94 !important;
    display: flex;
    position: fixed;
    z-index: 8;
    height:70%;
    width:40%;
    background-color:#808080;
    right: 20px;
    margin-top: -70px;
    border-radius: 40px 0px 40px 0px;
    align-items: center;
    flex-direction: column;
}
.sidescroll{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
.sidescroll::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}
.userphoto{
background-image: url('/src/Images/userlogo.jpg');
background-color: black;
min-width: 70px;
min-height: 70px;
background-size:cover;
background-repeat: no-repeat;
background-position: center center;
border-radius: 50%;
}
.flexitems{
    margin-top: 15px;
    color: white;
}
.logo{
    background-image: url('/src/Images/logo.png');
    width: 80px;
    height: 80px;
    background-size:cover;                      
    background-repeat:no-repeat;
    background-position:center center;
    border-radius: 50%;
    float:left;
  margin-left: 10px;
}
.appname{
    background-image: url('/src/Images/appname.png');
    background-size:cover;                      
    background-repeat:no-repeat;
    background-position:center center;
  
  width: 120px;
  height: 120px;
  float: left;
}
.bouncelogo{
    justify-self: flex-start;
    position: absolute;
    display: flex;
    top: 5px;
    height: 100px;
    width: 200px;
    align-items:center;
}
.backwithoutscroll{
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: tomato;
    z-index: -23;
    /*background-image: url("/public/cool-background.png");*/
    /* background-size: cover;  
  background-repeat: no-repeat; */
}
.shadow{
    justify-content: left;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
 #buttons{
    display: block;
    font-weight: bolder;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
} 
.opened{
    display: block;
    /*position: fixed;*/
    background-color:grey;
    margin: 0 auto;
    width: 90%;
    height: 450px;
    border-radius: 30px;
    padding-top:1px ;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    margin-top: 30px;
    border: 6px solid black;
    /*opacity: 0;*/
}
/* .slidedown{
    background-color: rebeccapurple;
    display: none;
    width: 100%;
    height: 300px;
    padding-top: 1px;
    z-index: -1;
} */
.hamburger{
    align-self: flex-end;
    justify-self: end !important;
    width: 100px;
    height: 40px;
    background-image: url("/public/hamburger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px,100px;
    cursor: pointer;
}
.white{
    display: block;
    width: auto;
    color: white;
    font-weight: bolder;
   margin-left: 10px;
}
.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 110px;
    background-color:black;
    margin: 0 auto;
    top: 20px;
   /* left: 50%;
    transform: translate(-50%, -50%);*/
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 30px;
}

@media screen and (max-width:580px){
    .logo{
        width: 50px;
        height: 50px;
    }
    .appname{
        width: 80px;
        height: 80px;   
    }
    .hamburger{
        width: 60px;
        height: 60px;
        background-size: 60px,60px;
    }
    .sidemenu{
        width: 100%;
    }
}
   