.image{
    /*background-image: url('/src/Images/userlogo.jpg');*/
    background-color: black;
    width: 200px;
    height: 200px;
    background-size:200px 200px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
    overflow: auto;
    }
.flex{
    display: flex;
    width: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
}
.flexs{
    display: flex;
    justify-content: center;
}